body {
  background-color: #f5f5dc;
}

header {
  background-color: #ae4582;
  text-align: center;
  padding: 5px;
}

nav {
  margin-bottom: 1em;
}

nav a {
  color: white;
}

.about-me {
  
  padding: 5px;
  margin: 1em;
  border: 2px solid black
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}

.project {
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px;

}
#projects {
  margin-bottom: 1.5em;
}

footer {
  background-color: lightgray;
  padding: 2px;
  text-align: center;
}

#linkedin {
  color:blue;
}